# Build / Install / Download
_build/
_install/
_download/
out/
build/

# Local / Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
*.*swp
*~
Thumbs.db

# Object files
*.o
*.obj
*.d

# Project legacy filters
*.*project
